@import 'partials/params';
@import 'partials/mixins';

.auth{
    display: flex;
    flex: 0 0 $auth-height;
    justify-content: space-around;
    align-items: center;


    &__link{
        text-transform: uppercase;
        color:rgb(197, 48, 48);
        font-weight: bold;


    }
}